@import "tailwindcss";

@theme {
  /* Paleta de colores personalizada */
  --color-melon: #ff9aa2;
  --color-peach: #ffb7b2;
  --color-mint: #b5ead7;
  --color-lemon: #ffffb3;
  --color-lavender: #e0bbe4;
  --color-sky: #c7ceea;
  --color-vanilla: #fff1e6;
  --color-coral: #ff6f91;
}

/* Estilos base */
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: underline;
}
